# Ignoring all data folders
**/Data/
*.csv
*.ipynb_checkpoints

# Model artefacts
**/artefacts/
*.joblib
*.pkl

# Python
__pycache__/
*.egg-info/
.ruff_cache/

# Evidently reports
**/evidently_reports/
